html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    display: grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem auto;
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    background-color: #007bff;
    justify-content: space-between;
}

header a.bug {
    color: #333;
    font-size: 1rem;
    padding: 0 1rem;
}

header a {
    display: flex;
    align-items: center;
}

a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

header img {
    width: 200px;
    padding: 0 1rem;
}

main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

footer {
    height: 5rem;
    display: flex;
    background-color: #fdfdff;
    border-top: 1px solid rgb(223, 223, 223);
    justify-content: stretch;
    flex-grow: 0;
    flex-shrink: 0;
}

.download-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    align-items: center;
}

[is="download-btn"],
[is="execute-btn"] {
    max-width: 300px;
    font-size: 1.42857143rem;
    font-weight: 700;
    color: white;
    margin-top: 0 !important;
}

[is="execute-btn"] {
    background-color: hsla(134, 72%, 33%, 1);
}

[is="execute-btn"]:hover {
    background-color: hsla(134, 72%, 25%, 1);
}

.icon-disabled {
    display: none;
}

[is="execute-btn"]:disabled .icon-disabled {
    display: inline-block;
}

[is="execute-btn"]:disabled .icon-enabled {
    display: none;
}

[is="download-btn"] {
    background-color: hsla(300, 100%, 25%, 1);
}

[is="download-btn"]:hover {
    background-color: hsla(300, 100%, 20%, 1);
}

*:focus {
    box-shadow: none !important;
}

[is="download-btn"] span {
    margin-left: 0.5em;
}

.project-name-area {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    flex-shrink: 0;
}

zoom-buttons {
    padding: 0 6rem 0 2rem;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.save-btn {
    font-size: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

blockly-designer {
    flex: 1 1;
    position: relative;
}

blockly-designer>* {
    position: absolute;
    height: 100%;
}

.left-panel {
    flex: 0 0 auto;
    /* only manually resize */
    width: calc(100% - 370px);
    min-width: calc(100% - 500px);
    max-width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
}

.left-panel footer {
    justify-content: flex-end;
}

.splitter {
    flex: 0 0 auto;
    width: 8px;
    background: url(../node_modules/jquery-resizable-dom/assets/vsizegrip.png) center center no-repeat #535353;
    cursor: e-resize;
}

.right-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

python-widget {
    flex-grow: 1;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

python-widget pre.prettyprint {
    flex-grow: 1;
    overflow: auto;
    white-space: pre;
    font-size: 1rem;
    line-height: 1;
    font-family: monospace !important;
    height: 100%;
    border-radius: 0;
    width: 100%;
    margin: 0;
}

body>img {
    position: absolute;
    left: -200px;
}

.drop-welcome {
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
    position: absolute;
    border: 7px dashed #33b5e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33b5e5;
    font-size: 4rem;
}
