html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    display: grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem auto 5rem;
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    background-color: #007bff;
}

header a {
    display: flex;
    align-items: center;
}

a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

header img {
    width: 200px;
}
main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    background-color: #fdfdff;
}
.download-area {
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.download-btn {
    font-size: 1.42857143rem;
    font-weight: 700;
    color: white;
    background-color: hsla(300, 100%, 25%, 1);
}

.download-btn:hover {
    background-color: hsla(300, 100%, 20%, 1);
}

*:focus {
    box-shadow: none !important;
}

.download-btn span {
    margin-left: 0.5em;
}
.project-name-area {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.project-name-area input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.zoom-area{
    padding: 0 2rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.save-btn {
    font-size: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

blockly-designer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

python-widget {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: none;
    margin: 0;
    padding: 1ex;
    direction: ltr;
    border: 1px solid #ccc;
    overflow: scroll;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

body > img {
    position: absolute;
    left: -200px;
}

.dropping-file {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}
.drop-welcome {
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
    position: absolute;
    border: 7px dashed #33b5e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33b5e5;
    font-size: 4rem;
}

body[dropping='true'] .dropping-file {
    display: block;
}
